# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
greybeard

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Distribution directory
dist/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 

# Snyk test files
.dccache
